.maplibregl-ctrl-attrib {
  background-color: rgb(0 0 0 / 0.6) !important;
  color: rgb(255 255 255 / 0.6) !important;
  border-radius: 4px;
}

.maplibregl-ctrl-attrib a {
  color: rgb(255 255 255 / 0.5);
}

.maplibregl-ctrl-attrib a:hover {
  color: rgb(255 255 255 / 0.8);
}

.maplibregl-ctrl-attrib-button {
  filter: invert(1);
}
